



amount <%=@amt%>
    <!-- Page Content -->
    <div class="container">
        <div class="results-container">
            <table class="table table-striped table-hover table-condensed table-responsive">
    <thead>
      <h3>We have found <%=@show.size%> Lawyers matching <%=@legal%> in <%= @location%> Area

</h3>
        <tr>
            <th>
                [Id:]
            </th>
            <th>
                [Name:]
            </th>

            <th>
                [Rating:]
            </th>
            <th>
                [Licensed:]
            </th>
            <th>
                [Phone:]
            </th>
            <th>
                [Practice:]
            </th>
        </tr>
    </thead>
    <tbody>
      <% @show.each do |a| %>
        <tr>
            <td>
              <%= a[:id] %>
            </td>
            <td>
                <%= a[:name] %>
                <br />
    <form method="post" action="/save">
      <input type="hidden" name="law"  value="<%=a[:id]%>">
        <input type="submit" value="Save this lawyer" />

      </form>
            </td>

            <td>
                <%= a[:rating] %>
            </td>
            <td>
                <%= a[:years] %> Years
            </td>
            <td>
                <%= a[:number] %>
            </td>
            <td>
                <%= a[:practice] %>
            </td>
        </tr>
              <% end %>

    </tbody>
</table>
        </div>
    </div>
    <!-- /.container -->
  
